.highlight {
  border-radius: 8px;
  background: #f4f5f6;
  z-index: -1;
  opacity: 0;
  will-change: transform,height,opacity;
  -webkit-transition-property: height,opacity;
  transition-property: height,opacity;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease
}
